/* Esercizio 1 */
.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
    transition: width 1s linear;
}

.ex-2-square:active {
    transition: width 2s;
    width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
    transition: 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
    transition: 1s ease-out;
}

.ex-4-square:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* Esercizio 5 */
.ex-5-square {
    transition: 0.2s linear;
}

.ex-5-square:hover {
    transform: scale(150%);
}

.ex-5-square:active {
    transform: scale(50%);
}

/* Esercizio 6 */
.ex-6-img:hover {
    filter: grayscale();
}

/* Esercizio 7 */
.ex-7-img {
    transition: 0.2s linear;
}

.ex-7-img:hover {
    filter: invert() ;
    opacity: 0.5;
}

/* Esercizio 8 */
.ex-8-img {
    transition: 0.5s;
    filter: blur(1px) grayscale();
}

.ex-8-img:hover {
    filter: blur(0px);
    border-radius: 10px;
}

/* Esercizio 9 */
.ex-9-img {
    transition: 0.1s;
}

.ex-9-img:hover {
    filter: drop-shadow(20px 20px 5px);
    transform: scale(120%);
}

/* Esercizio 10 */
.ex-10-icon {
    animation-name: load;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes load {
    0% {}
    100% {transform: rotate(360deg);}
}

/* Esercizio 11 */
.ex-11-icon:hover {
    animation-name: crazyload;
    animation-duration: 2s, 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes crazyload {
    0% {}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(0deg);}
}

/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
    animation-name: swingBorderTop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: swingBorderBottom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes swingBorderTop {
    0% {}
    50% {left: 60%;}
    100% {left: 10%;}
}

@keyframes swingBorderBottom {
    0% {}
    50% {right: 60%;}
    100% {right: 20%;}
}

/* Esercizio 13 */
.well {
    overflow: hidden;
}

.ex-13-button:hover .ex-13-top-white {
    animation-name: rotateBorderTop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation-name: rotateBorderBottom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateBorderTop {
    0% {left: 10%; top: -10px;}
    20% {left: 100%; top: -3px;}
    40% {left: 100%; top: 47px;}
    60% {left: -30%; top: 47px;}
    80% {left: -30%; top: -3px;}
    100% {left: 10%; top: -10px;}
}

@keyframes rotateBorderBottom {
    0% {right: 20%; bottom: -10px;}
    30% {right:calc(100% - 30px); bottom: -10px;}
    43% {right:calc(100% - 30px); bottom: 100%;}
    80% {right: 0; bottom: 100%;}
    93% {right: -15px; bottom: -10px;}
    100% {bottom: -10px; right: 20%;}
}
